<section data-ng-controller="ParticipantesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Participantes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="participante in participantes" data-ng-href="#!/participantes/{{participante._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="participante.created | date:'medium'"></span>
				by
				<span data-ng-bind="participante.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="participante.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!participantes.$resolved || participantes.length">
    	No Participantes yet, why don't you <a href="/#!/participantes/create">create one</a>?
    </div>
</section>